.war-wall {
    width: auto;
    height: 100%;
    display: 100%;
    flex-direction: column;
    float: center;
    background-color: transparent;
}
.war-wall img{
    width: 100%;
    height: 100%;
    background-color: transparent;    
}
.war-wallside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: transparent;
}
.war-wallside img{
    width: 100%;
    height: 100%;
    background-color: transparent; 
}
.stone-street {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: transparent;
}