.wall {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    float: center;
    background-color: transparent;
}
.wall img{
    width: 100%;
    height: auto;
    background-color: transparent;    
}
.wallside {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: transparent;
}
.wallside img{
    width: 100%;
    height: auto;
    background-color: transparent; 
}
.street {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: transparent;
}
.inverted-colors {
    filter: invert(20%);
}