.Player {
    width: 100%;
    height: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}
.Player h1{
    font-size: 15%;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
}
.Player img{
    width: 60%;
    height: auto;
    background-color: transparent;    
}
.left{
    transform: rotateY(180deg)
}
.right{transform:rotateY(0deg)}