.maze{  
    width: 1395px;
    height: 727px;
    display: grid;
    grid-template-rows: repeat(21,34.6px);
    grid-template-columns: repeat(31,45px);
    align-content: end;
    align-items: end;
    gap: 0;
    background-color: transparent;
  }
.city-night-style{
    background-color: black;
}
.city-day-style{
    background-color: white;
}
.war-style{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Maze/OldSprites/stone-street.png');
    background-color: blue;
}
.inverted-colors {
    filter: invert(1);
}
.normal-colors{
    filter: none;
}
.grid-item {
    width: 34.6px;
    height: 45px;
    background-color: transparent;
  }