.city-night-style{
    background-color: black;
    width: 100%;
    height: 100%;
}
.city-day-style{
    background-color: white;
    width: 100%;
    height: 100%;
}
.war-style{
    background-image: url('../../assets/Maze/OldSprites/stone-street.png');
}
.inverted-colors {
    filter: invert(1);
    width: 100%;
    height: 100%;
}
.normal-colors{
    filter: none;
    width: 100%;
    height: 100%;
}
.grid-item {
    width: 34.6px;
    height: 45px;
    background-color: transparent;
  }